body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color : white;
    background-color: black;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.zipCodeResult{
    background-color: white;
    
}
.confirmed{
    color: white;
}
.error{
    color: red;
}